@import url('https://googleapis.com');

/* Configuración Global */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to top, #e8e3e3 0%, #ffffff 100%);
}



/* Barra de navegación */
.navbar {
    background-color: rgba(149, 116, 238, 0.901);
}

.navbar-brand {
    /* Cambiar tamaño navbar aca */
    font-size: 1.5rem;
    font-weight: 500;
}


/*Modificación de tarjetas de tiempo*/
.card-cuerpo {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.card {
    padding-bottom: 10px;
    transition: transform 0.2s; /* Animación suave al pasar el mouse */
}

.card:hover {
    transform: translateY(-5px);
}

.titulo-card {
    font-weight: bold;
}

.btn-primary {
  padding: 12px 24px;
}

.tiempoBold {
    font-weight: bold;
    /* Negrilla a temperatura */
}

/* Footer */

footer {
  text-align: center;
  padding: 10px;
  background-color: #f1f1f36c;
  color: black;
  min-height: 50px;
  margin-top: auto;
}