.pie-pagina {
    text-align: center;
    padding: $espaciado-pie-pagina;
    background-color: $color-pie-pagina;
    color: $color-texto-principal;
    min-height: $alto-minimo-pie-pagina;
    margin-top: auto;
}
